body{
  background-color: rgb(179, 233, 187);
}


header {
    background-image: url(/bilder/yoal-desurmont-jqgsM3B9Fpo-unsplash\ \(1\).jpg);
    display: flex;
    background-size: cover;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    height: 100px;
    justify-content: center;
  }
  
  header h1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }


  
nav {
    display: flex;
    background-color: cornsilk;
    height: 30px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-size: large;
  }


  .underline {
    text-decoration: underline;
  }

  .main{
    display: flex;
   margin-top: 10px;
}

  .textrutaHöger{
      display: flex;
      flex-direction:column;
      justify-content: flex-end;
      background-color: cadetblue;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-right: 10px;

  }
.huvudtext h1{
    width: 100%;
    display: flex;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
}

.huvudtext h2{
  display: flex;
  justify-content: center;
  padding: 10px;
    background-color: cornsilk;
}

  .huvudtext{
      background-color: rgb(209, 245, 180);
      display: flex;
      flex-wrap: wrap;
  }
